<div class="form-row">
  <div class="form-group col-md-12">
    <mat-form-field>
      <mat-placeholder>
        <mat-icon>
          medication
        </mat-icon>
        Doctor Name
      </mat-placeholder>

      <mat-select (selectionChange)="getMobileNo($event)" >
        <mat-option *ngFor="let doctor of doctors" [value]="doctor.mobileNo">
          {{doctor.firstName}}
        </mat-option>
      </mat-select>


    </mat-form-field>
  </div>
</div>
<!--
<div *ngIf="doctors?.length>0">
<full-calendar [options]="options"></full-calendar>
</div>
-->

<p-table [value]="events" responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th>Day</th>
      <th>From Time</th>
      <th>To Time</th>

    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-appointment>
    <tr>
      <td>{{appointment.day}}</td>
      <td>{{appointment.fromTime}}</td>
      <td>{{appointment.toTime}}</td>

    </tr>
  </ng-template>
</p-table>
