<h1 class="navbar multicolortext">Patient Details</h1>

<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Bala" #input>
</mat-form-field>
  <mat-table [dataSource]="tableSource" matSort id="contentToConvert">


    <ng-container matColumnDef="mobileNo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>MobileNo </mat-header-cell>
      <mat-cell *matCellDef="let elem"> {{elem.mobileNo}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> FirstName </mat-header-cell>
      <mat-cell *matCellDef="let elem"> {{elem.firstName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> LastName </mat-header-cell>
      <mat-cell *matCellDef="let elem"> {{elem.lastName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="gender">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Gender </mat-header-cell>
      <mat-cell *matCellDef="let elem"> {{elem.gender}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dob">
      <mat-header-cell *matHeaderCellDef mat-sort-header> DOB </mat-header-cell>
      <mat-cell *matCellDef="let elem"> {{elem.dob}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
      <td mat-cell *matCellDef="let elem">
        <button mat-fab color="warn" (click)="openPatientDetails(elem)">
          <mat-icon>settings</mat-icon>
        </button>
      </td>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
  <mat-paginator [pageSizeOptions]="[3,5,7, 10, 20]" showFirstLastButtons></mat-paginator>


