<div class="form-row">

<div class="col-md-6" style="padding: 2%">
  <app-patientappointment></app-patientappointment>
</div>

<div class="col-md-6">
<ngb-carousel>
  <ng-template ngbSlide>

    <div class="picsum-img-wrapper">
      <img src="assets/clinic.JPG" alt="Angular Carousel 1">
    </div>

  </ng-template>
  <ng-template ngbSlide>

    <div class="picsum-img-wrapper">
      <img src="assets/vignesh.JPG" alt="Angular Carousel 2">
    </div>

  </ng-template>
</ngb-carousel>
</div>
</div>
<!--
<div class="form-row">
  <div class="col-md-6" style="padding: 2%">
    <app-bar-chart></app-bar-chart>
  </div>
  <div class="col-md-6" style="padding: 2%">
    <app-line-chart></app-line-chart>
  </div>

</div>
-->
